@font-face{
    font-family: RubikMonoOne-Regular;
    src: url(../Currículum/Fonts/RubikMonoOne-Regular.ttf) format('truetype');
}
@font-face{
    font-family: SecularOne ;
    src: url(../Currículum/Fonts/SecularOne-Regular.ttf) format('truetype');
}
@font-face{
    font-family: Ubuntu-Bold ;
    src: url(../Currículum/Fonts/Ubuntu-Bold.ttf) format('truetype');
}





body{
    text-align: justify;
    font-family: sans-serif;
    width: auto;
    margin: auto;
    background: gray;
    font-family: Verdana;
    display: flex;
    justify-content: center;

    
}
#Contenedor{
    display: flex;
  justify-content: space-between;
}



#Imágen{
    width: 370px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: rgba(8, 91, 112, 0.295);
     align-items: flex-start;   
}

.cuerpo h2{
    font-size: px;
}  

header{
    display: flex;
    justify-content: flex-end;
    
    margin: 50px 50px;
}
span img{
    width: 270px;
    margin: 0px -5px 0px -10px;
}
.LíneaBlanca{
    width: 270px;
    height: 3px;
    border-color: white;
    background-color: white;
    margin: -10px 0px 0px 40px;
}
.cuerpo{
    text-align: left;
    display: flex;
    text-align: start;
    margin: -20px 0px 60px 50px;
    color: white;
    
    flex-direction: column; 
   
}
.cuerpo1{
    text-align: left;
    display: flex;
    text-align: start;
    margin: -20px 0px 60px 50px;
    color: white;
    
    flex-direction: column; 
   
}
.Logos{
    display: flex;
    margin: 0px 0px 4px 0px;
    
    width: 250px;
}
.Logos span{
    padding: 0px 18px 0px 0px;
    margin: 0px 0px 0px -5px;
}
#Imágen h2{
    font-size: 18px;
    margin: 28px 0px 15px -10px;
}
#Imágen ul{
    font-size: 15px;
    margin: 0px 0px 0px -30px;
}







#Texto{
    width: 600px;
    height: 1300px;
    display: flex;
    background-color: white;
    
    flex-direction: column;
    align-items: flex-start;
     
    padding: 5px 40px 5px  25px;
}

.LíneaNegra{
    width: 569px;
    height: 2px;
    border-color: black;
    background-color: black;
    margin: 40px 0px 0px 0px;
}
.LíneaNegra2{
    width: 569px;
    height: 2px;
    border-color: black;
    background-color: black;
    margin: 40px 0px 0px 0px;
}
.LMG{
    height: 8px;
    width: 560px;
    border-color: black;
    background-color: black;
}

.a1{
    margin: 40px 0px 0px 0px;
}
#Texto h1{
    font-family: Tahoma, sans-serif;
    font-size: 40px;
    color:rgba(30, 59, 66, 0.651)
}
#Texto p{
    margin: 10px 0px 30px 0px;
   
}
#Texto h2{
    margin: 4px 0px 12px 0px;
    font-size: 22px;
}

article h4{
    margin: 10px 0px 0px 0px;
}
.Par{
    display: flex;
  justify-content: space-between;
}
.Ultimo{
    display: flex;
}

/*--Media Queries*/



/*--Dispositivo xl*/
@media screen and (max-width:1199px){}


/*--Dispositivo lg*/
@media screen and (max-width:991px){


}

/*--Dispositivo md*/
@media screen and (max-width:767px){
    #Imágen, #Imágen img, .LíneaBlanca , .Logos {
        width: 75%;
        font-size: 75%;
    }



}

/*--Dispositivo sm*/
@media screen and (max-width:575px){
   body{
    display: flex;
    justify-content: end;
    padding-right: 10px;
    padding-top: 90px;
   }
   #Contenedor{
    width: 75%;
    display: flex;
    justify-content: end;
    margin: 0xp 0px 0px 0px;
   
   }
   
   
    /*Parte gris*/
    

    #Imágen{
        width: 130px;
        height: 489.5px;
        margin: 0px 0px 0px 65px;
        
    }
    .LíneaBlanca {
     width: 100px;
     height: 1px;
     margin: 0px 0px 0px 15px;
     
        
    }

    #Imágen .Logos {
        width: 50%;
        font-size: 50%;
        height: 50%;
        margin: 0px 0px 3px -5px;
        width: 0px;
    }

    #Imágen span img{
        width: 90px;
        margin: -30px 0px -30px -28px;
        
    }
    #Imágen .cuerpo{
        margin: 0px 0px 30px 25px;
        font-size: 50%;
        
    }
    #Imágen .cuerpo h2 {
        font-size: 60%;
        margin-top: -10px;
        padding: 0px 0px 0px -60px;
        margin-top: 2px;
    }
    #Imágen .cuerpo ul {
        font-size: 50%;
        margin: -5px 0px -20px -38px;
    }
    #Imágen .cuerpo1{
        margin: 0px 0px 15px 25px;
    }
    
    #Imágen .cuerpo1 h2 {
        font-size: 60%;
        margin-top: -10px;
        padding: 0px 0px 0px -60px;
        margin-top: 2px;
    }
    #Imágen .cuerpo1 ul {
        font-size: 50%;
        margin: -5px 0px -20px -38px;
    }








    /*Parte Blanca*/
    #Texto{
        width: 55%;
        font-size: 50%;
        height: 480px;  
    }
    #Texto article{
        width: auto;
        font-size: 50%;
        height: 50%;
        margin: 0px 0px 5px 0px;
        
    }
    #Texto .a1{
        width: 50%;
        font-size: 50%;    
    }

    #Texto h1{
        font-size: 140%;
        margin: 2px 0px 6px 0px;
    }
    #Texto h2{
        font-size: 50%;
        margin: 8px 0px 6px 0px;  
    }
    .LíneaNegra{
        margin: -95px 0px 0px 0px;
        height: 1px;
        width: 170px;
    }
    .LMG{
        height: 3px;
        margin-bottom: -25px;
        width: auto;
    }
    #Texto p{
        margin: 5px 0px 15px 0px;
    }
    .LíneaNegra2{
        height: 1px;
        width: 50%;
        width: 170px;
        margin-top: 30px;
    }
    .cosas{
       padding: 0px 0px 0px 0px;
        margin-top: -10px;
    }
 
}